# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
venv/
.venv/

# =========================
# Flask
# =========================
instance/
.flaskenv

# =========================
# Docker
# =========================
*.log
docker-compose.override.yml

# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
terraform.tfvars
terraform.tfvars.json

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Archives
# =========================
*.zip
venv/
